.title{
    font-size: 1.5rem;
    font-weight: bold;
    color:white;
    margin-top: 0;
}

.container{
    background-color:rgb(101, 101, 153);
    color:rgb(227, 227, 227);
    margin:0;
    height: 100%;
    padding:2rem
}