section {
    width:fit-content;
    margin-bottom: 10px;
    
}

div{
    margin-bottom: 10px;
}

.error{
    color : rgb(255, 134, 134);
    font-size: 0.8rem;
}

label{
    font-size: 1rem;
}

button{
    border-width: 0;
    background-color: rgb(115, 205, 115);
    color:white;
    border-radius: 0.5rem;
    padding:0.5rem
}

button:hover{
    background-color: rgb(76, 190, 76);
    cursor: pointer;
}

.label{
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    font-weight: bold;
}